<section>
<h1> Coucou {{session.name}} ;)</h1>

<form id="deco" action = "/users/logout" method = "post">
    <div class="form-example">
        <input type="submit" value="se déconnecter" />
    </div>
</form>
</section>